<div class="maincontents2">
  <div class="site">
    <div class="site_setumei1">
      <h1>本サイトについて</h1>
      <p>皆様はじめまして、dragon_2treeと申します。宜しくお願い致します。</p>
      <p>本サイトはFF14内のトレジャーハント、そのマップ閲覧、管理を目的として作成しました。</p>
      <p>このページではサイトの使用方法についてご説明させて頂きます。</p>
    </div>
    <div class="site_setumei1">
      <h2>step1 アカウントの作成</h2>
      <p>皆様にはまず、アカウントを作成して頂きます。
      <br>面倒ではありますが後述する機能に必要であるため作成をお願い致します。</p>
      <p>まず、サイト右上のsign-upからアカウント作成ページへ飛び、各項目を記入の上アカウントを作成してください。</p>
      <%= image_tag 'signin_setumei.jpg', :size => "1000x500" %>
      <p>本サイトではデータベースを用いて、グループ内でのマップ情報の共有を可能としています。</p>
      <p>sign-in時に登録するグループ名は皆様が登録するアカウントに紐づけられ、
      <br>同じグループ名で登録した人達と情報を共有します。</p>
      <p>よって、野良パーティ、もしくはFCで使用する場合は同じグループ名を記入する必要があります。
      <br>グループ名の登録については「<%= link_to "グループについて", group_path, method: :get %>」をご覧ください。</p>
    </div>
    <div class="site_setumei2">
      <h2>step2 ツールの使用方法</h2>
      <p>アカウントの作成を終えるとトップ画面に戻ってきますが、画面右上のメニューが変わっているはずです。</p>
      <p>画面右上のG8-MAPをクリックし、ツール画面に移動してください。</p>
      <p>この画面では主に各地域のマップタブ、地図管理タブの2つがあります。</p>
      <%= image_tag 'tool_setumei.jpg', :size => "1000x500" %>
      <p>各地域のタブでは全体マップと詳細マップを一度に閲覧することできます。</p>
      <p>地図管理タブでは実際に個々が持っている地図を、「誰が」「どこの地図」を持っているのか
      <br>簡単に管理、閲覧することができます。</p>
      <%= image_tag 'g8map_setumei.png', :size => "1000x500" %>
      <p>地図管理タブでは、左赤枠で地図の選択と追加、右青枠で地図の管理を行います。</p>
      <p>まず、自分が持っている地図の地域のタブをクリックし、座標の一覧を表示します。</p>
      <p>次に、持っている地図の画像をクリックし、選択します。</p>
      <p>最後に、所有者欄に名前を入力し、追加をクリックすると右側青枠内にソートされて表示されます。</p>
      <p>グループ内の追加を反映する場合は「更新」を、投稿を削除する場合は「削除」をクリックしてください。</p>
      <p>マップ切り替えは地図の入力後、各地域を回る際の位置の確認にご利用ください。</p>
      <p></p>
    </div>
  </div>
</div>