<div class="maincontents3">
  <div class="syousai">
    <h1>皆様に対するお願いについて</h1>
    <p>この度は本サイトにお越しくださり誠にありがとうございます。
    <br><br>さて、お願いに関してですが、G8マップツールでは現在、実際のディサイファー後のマップではなく、
    <br>全体マップから切り取ってきたものを使用しております。
    <br>よって、手持ちのマップと見比べる際にマップの多少の違いによりわかりにくいことがあると考えられます。<br>そこで、皆様がG8マップを回る際に、ディサイファー後のマップをスクリーンショットでお送り頂けると幸いです。
    <br>全てのマップが揃い次第G8マップツールの修正を行います。
    <br><br>皆様のご協力をお願い申し上げます。</p>
    <p>送信先PSID ＊aaaaaaaaa＊</p>
  </div>
</div>