<div class="maincontents">
  <div class="syousai">
    <h1>FF14_TREASUREMAPTOOLへようこそ</h1>
    <p>このサイトでは主に新生FF14の「宝の地図」の座標閲覧および管理を目的としたサイトです。<br>宝物庫アクアポリスの登場により、G8の地図を開けることが多くなり、<br>簡単に閲覧、管理できないかという理由で作成しました。<br><span id="kyoutyou">このサイトがあなたの助けになれば幸いです。</span></p>
  </div>

  <div class="slideshow_contents">
    <p id="slideshow">
     <%= image_tag 'abara_map.jpg',:size => "300x300", :class => "active"%>
     <%= image_tag 'koutidora_map.jpg', :size => "300x300" %>
     <%= image_tag 'doraunn_map.jpg', :size => "300x300" %>
     <%= image_tag 'kuruzasu_map.jpg', :size => "300x300" %>
    </p>
  </div>

</div>