#titlelogo{
  position: relative;
  vertical-align: bottom;
}

#loginlogo{
  position: absolute;
  top: 20px;
  left: 60px;
}

#haikei{
  vertical-align: bottom;
}

#kyaltuti{
  position: absolute;
  top: 510px;
  left: 331px;
}

#tokutyou{
  position: absolute;
  top: 650px;
  left: 481px;
}

#tokutyou123{
  position: absolute;
  top: 750px;
  left: 131px;
}

#tokutyou_syousai{
  position: absolute;
  top: 1220px;
  left: 131px;
}

#otomo{
  position: absolute;
  top: 2200px;
  left: 141px;
}

